<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baro">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baro">
        <activity android:name=".ui.learn.LearnActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.baro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.share.UploadActivity" />
        <activity android:name=".ui.share.BluetoothReceiveActivity" />
        <activity android:name=".ui.share.BluetoothSendActivity" />
        <activity android:name=".ui.share.SendReceiveActivity" />
        <activity android:name=".ui.share.ShareActivity" />
        <activity android:name=".ui.create.CreateActivity" />
        <activity android:name=".ui.account.AccountActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>